PatientXML/Insurer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.nandithmalapati.com/Insurer"
	xmlns:tns="http://www.nandithmalapati.com/Insurer"
	elementFormDefault="qualified">
	
	<element name="insurer" type= "tns:Insurer"/>
	
		<complexType name="Insurer">
			<sequence>
				<element name="id" type= "int"/>
				<element name="name" type= "string"/>
				<element name="age" type= "int"/>
				<element name="dob" type= "date"/>
				<element name="email" type= "string"/>
				<element name="gender" type= "string"/>
				<element name="phone" type= "string"/>
			</sequence>
		</complexType>
</schema>